{{ form_start(form, {'attr': {'class': 'row'}}) }}

    <div class="input-field col s12 m6 l6">
        {{ form_label(form.app_GitLink) }}
        {{ form_widget(form.app_GitLink) }}
        {{ form_errors(form.app_GitLink) }}

        <input type="submit" value="Enregistrer" class="btn btn-primary">
        <a href="{{ ('/story') }}" class="btn btn-primary">Historique</a>
    </div>

{{ form_end(form) }}